@model Model.DTO.NewsDTO
@{
    ViewData["Title"] = "ShowNews";
}
<style>
    body {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }

    img {
        background-size: contain;
        background-size: cover;
        width: 560px;
        height: 420px;
    }
    .center {
        text-align: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="row center">
            <img style="margin-bottom:10px;" src="@Model.ImagePath" />
        </div>
        <div class="row center">
            @Model.Title
        </div>
        <div class="row center">
            @Html.Raw(Model.Text)
        </div>
    </div>
</div>



